.Footer
    .container-fluid
        .row
            .col-lg-3.col-md-6.col-12.Footer-body
                h6.h6 CHĂM SÓC KHÁCH HÀNG
                .Footer-content
                    p Trung tâm trợ giúp
                    p Food mail
                    p Hướng dẫn mua hàng
            
            .col-lg-3.col-md-6.col-12.Footer-body
                h6.h6 VỀ WEBSITE ONLINE FOOD
                .Footer-content
                    p giới thiệu về food việt nam
                    p tuyển dụng
                    p điều khoản food

            .col-lg-3.col-md-6.col-12.Footer-body
                h6.h6 THEO DÕI CHÚNG TÔI
                .Footer-social
                    a(href="https://www.facebook.com/")  <i class="bi bi-facebook"><span> Facebook</span></i></a>
                    a(href="https://www.facebook.com/")  <i class="bi bi-instagram"><span> Instagram</span></i></a>
                    a(href="https://www.facebook.com/")  <i class="bi bi-linkedin"><span> LinkedIn</span></i></a>
            .col-lg-3.col-md-6.col-12.Footer-body
                h6.h6 VỀ WEBSITE ONLINE FOOD
                .Footer-content
                    p #{settingGeneral.address}
                    p #{settingGeneral.phone}
    .footer-bootom
        .footer-bootom-content
            p chính sách bảo mật <span>|</span>
            p quy chế hoạt động <span>|</span>
            p chính sách vận chuyển  <span>|</span>
            p Chính sách trả hàng và hoàn tiền  
        .footer-bootom-image.mt-4
            p #{settingGeneral.copyright}






    

