extends ../../layouts/user.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    .reset-email
        .container.mt-5
            .row.justify-content-center
                .col-md-8
                    .card
                        .card-header Đặt lại mật khẩu
                        .card-body
                            form(method="POST", action="/user/password/forgot" id="forgot-pass")
                                .row.mb-3
                                    label.col-md-4.col-form-label.text-md-end(for="email") Địa chỉ email
                                    .col-md-6
                                        input(placeholder="Địa chỉ email" id="email" type="text" class="border form-control" name="email" value=messages.emailValue ? messages.emailValue[0] : ''  )
                                        if(messages.emailError)
                                            lable(id="email-error" class="error invalid-feedback1 mt-2" for="full_name" style="display:block") #{messages.emailError} 
                                        lable(id="email-error" class="error invalid-feedback1 mt-2" for="full_name") Vui lòng nhập email
                                .row.mb-0
                                    .col-md-6.offset-md-4
                                        button(type="submit" class="btn btn-primary" forgot-pass) Xác nhận   
    