doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        title #{title}
        link(rel="stylesheet", href="/css/404.css")
    body
        .wrap
            .logo
                img(src="/uploads/404.png", alt="404 Not Found")
                
                p
                    a(href="javascript:;"  onclick="history.back()") Go back to Home
        .footer
            | Design by -
            a(href="http://w3layouts.com") W3Layouts
