doctype html
html(lang="en")
    head
        title #{title}
        meta(charset="UTF-8")
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        link(rel="stylesheet", href="/css/nav.css")
        link(rel="stylesheet", href="/css/article.css")
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    body
        include ../../partials/header
        .container.mb-5
            .row 
                header.articles
                    div(class="site-title") Tạp Chí Nước Hoa
                main(class="main-content")
                    div(class="article-list")
                        article(class="article-card")
                            a(href="") 
                                img(src="https://res.cloudinary.com/dm5pbyp9g/image/upload/v1728136296/ztozbqtnht7bsuelrwzs.webp" alt="Perfume article" class="article-image")
                            div(class="article-content")
                                a(href="") 
                                    h2 PHÂN BIỆT CÁC LOẠI NỒNG ĐỘ NƯỚC HOA
                                p Nồng độ tinh dầu trong nước hoa là gì? Eau de Parfum, Eau de Toilette... là gì? Đó là những cụm từ để phân biệt nồng độ nước hoa.
                                div(class="article-meta")
                                    span 07/12/2024
                                    a(href="#" class="read-more") XEM THÊM
                    aside(class="sidebar")
                        h2(class="sidebar-title") Tin mới
                        div(class="recent-post")
                            a(href="") 
                                img(src="https://res.cloudinary.com/dm5pbyp9g/image/upload/v1728136296/ztozbqtnht7bsuelrwzs.webp" alt="Recent post")
                            div(class="recent-post-content")
                                a(href="") 
                                    h3 Giới thiệu về nước hoa NARCISO RODRIGUEZ
                                div(class="recent-post-date") 13/12/2024
                            
        include ../../partials/footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js")